html {
    background: url(https://raw.githubusercontent.com/tatran5/tatran5.github.io/master/photos/navBarLeft.png) no-repeat left center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}