
* {
  box-sizing: border-box;
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

html *
{
   font-family: Helvetica, sans-serif !important;
   font-weight: 100;
}

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color: black; }
a:focus { text-decoration: none; color: black; }
a:hover, a:active { text-decoration: none; color:black }

.name {
  font-size: 4vh;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  float: left;
}

.nav {
  width: 20vw;
  text-align: center;
  top: 0;
  left: 0;
  position: fixed;
  min-height: 100%;
  min-height: 100%;
  background-color: #193153;
  color: white;
}

.content {
  padding-left:20vw;
}

.gallery {
  margin: 3px;
  float: left;
  width: 23vw;
}

.gallery video {
  width: 100%;
  height: auto;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  height: 17vh;
  text-align: center;
  font-size: small;
}

.tool {
  text-align: center;
  font-size: small;
}

.zoom {
  transition: transform .1s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(2);
}

.video-art {
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.video-art video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
}

.content-title {
  font-size: 7vh;
  padding-top: 2vh;
  padding-bottom: 3vh;
}

.art-project-title {
  padding-top: 5vh;
  padding-bottom: 1.5vh;
  font-size: 120%;
}

.art-project-description {
  font-size: 100%;
}

.dropbtn {
  padding-top: 2vh;
  background-color: Transparent;
  text-align: left;
  border: none;
  color: white;
  font-size: 3vh;
}

.dropbtn a:hover {
  color: #cea434;
}

.dropbtn:hover {
  color: #cea434;
}

.dropdown {
  color: white;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 5vw;
  z-index: 1;
  font-size: 2.5vh;
}

.dropdown-content a {
  color: white;
  padding: 0.2vw 1vw;
  text-align: left;
  text-decoration: none ;
  display: block;
}

.dropdown-content a:hover {
  background-color: #cea434;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  text-decoration-color: #cea434;
}

.nav ul {
  list-style: none;
}

.nav img {
    max-width:50%;
}

/* About */
.profile-picture {
  float: left;
  width: 30%;
  padding: 10px;
}

.profile-picture img {
  max-width: 100%;
  max-height: auto;
  border-radius: 50%;
}

.intro {
  float: left;
  width: 70%;
  padding-top: 7vh;
}

.intro a {
  text-decoration : none;
  color: #193153;
  font-weight: bold;
  transition: background 0.5s ease-in-out;
}

.intro a:hover {
  color: #cea434;
}

.cover {
  z-index: 1;
  height: 100vh;
  width: 80vw;
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 20vw;
  font-size: 20vh;
  text-align: center;
}

.cover-title {
  font-weight: bolder;
  color: #193153;
  padding-top: 30vh;
  font-weight: 900;
}

.cover img {
  height: 17vh;
  width: auto;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.cover img:hover {
  height: 17vh;
  width: auto;
  opacity: 1;
  filter: alpha(opacity=100);
}

.cover a{
  text-decoration: none;
}
