/* Clear floats after the columns */
* {
  box-sizing: border-box;
}

html *
{
   font-family: Verdana, sans-serif !important;
   font-weight: 100;
}

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color: black; }
a:focus { text-decoration: none; color: black; }
a:hover, a:active { text-decoration: none; color:black }

.row:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  float: left;
}

.nav {
  width: 20vw;
  text-align: center;
  position: fixed;
}

.content {
  /* background-color: red; */
  padding-left:20vw;
}

.gallery {
  margin: 3px;
  float: left;
  width: 17vw;
}

.gallery video {
  width: 100%;
  height: auto;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  height: 17vh;
  text-align: center;
  font-size: small;
}

.tool {
  text-align: center;
  font-size: small;
}

.zoom {
  transition: transform .1s;
 /* width: 200px;
  height: 200px;*/
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(2);
}

.video-art {
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.video-art video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
}

.content-title {
  font-size: 7vh;
}

.art-project-title {
  padding-top: 5vh;
  padding-bottom: 1.5vh;
  font-size: 120%;
}

/* FOR DROP DOWN MENU BELOW ----------*/
.dropbtn {
  /* background-color: #4CAF50; */
  /* color: white; */
  background-color: Transparent;
  text-align: left;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f1f1f1; */
  min-width: 5vw;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0.2vw 0.2vw;
  text-align: left;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdowent {display: block;}

.dropdown:hover .dropbtn {}

/* FOR DROP DOWN MENU ABOVE ----------*/

.nav {
  top: 0;
  left: 0;
  height: 100vh;
  background: "photos/navBarLeft.png";
  font-size: 2vh;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  text-decoration-color: #cea434;
}

.nav ul {
  list-style: none;
}

.nav img {
    /* border: none;
    display: block;
    margin: 0 auto; */
    max-width:50%;
}

/* About */
.profile-picture {
  float: left;
  width: 30%;
  padding: 10px;
}

.profile-picture img {
  max-width: 100%;
  max-height: auto;
  border-radius: 50%;
}

.intro {
  float: left;
  width: 70%;
  padding-top: 7vh;
}

.intro a {
  text-decoration : none;
}
