
* {
  box-sizing: border-box;
}

html *
{
   font-family: Verdana, sans-serif !important;
   font-weight: 100;
}

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color: black; }
a:focus { text-decoration: none; color: black; }
a:hover, a:active { text-decoration: none; color:black }

.name {
  font-size: 4vh;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  float: left;
}

.nav {
  width: 20vw;
  text-align: center;
  top: 0;
  left: 0;
  position: fixed;
  min-height: 100%;
  min-height: 100%;
  background-color: #193153;
  color: white;
}

.content {
  /* background-color: red; */
  padding-left:20vw;
}

.gallery {
  margin: 3px;
  float: left;
  width: 17vw;
}

.gallery video {
  width: 100%;
  height: auto;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  height: 17vh;
  text-align: center;
  font-size: small;
}

.tool {
  text-align: center;
  font-size: small;
}

.zoom {
  transition: transform .1s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(2);
}

.video-art {
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.video-art video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
}

.content-title {
  font-size: 7vh;
}

.art-project-title {
  padding-top: 5vh;
  padding-bottom: 1.5vh;
  font-size: 120%;
}

.dropbtn {
  padding-top: 2vh;
  background-color: Transparent;
  text-align: left;
  border: none;
  color: white;
  font-size: 3vh;
}

.dropdown {
  color: white;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 5vw;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 0.2vw 1vw;
  text-align: left;
  text-decoration: none ;
  display: block;
}

.dropdown-content a:hover {
  background-color: #cea434;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  text-decoration-color: #cea434;
}

.nav ul {
  list-style: none;
}

.nav img {
    max-width:50%;
}

/* About */
.profile-picture {
  float: left;
  width: 30%;
  padding: 10px;
}

.profile-picture img {
  max-width: 100%;
  max-height: auto;
  border-radius: 50%;
}

.intro {
  float: left;
  width: 70%;
  padding-top: 7vh;
}

.intro a {
  text-decoration : none;
}

.cover {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 20vw;
  background-image: url("cover.JPG");
  background: rgba(206, 164, 53, 0.8); /*can be anything, of course*/
}
